<html>
      <head>
             <title>SpringBoot</title>
      </head>
      
       <body>
             <h1>Welcome to SpringBoot</h1>
       </body>
       <table>
       <tr>
        <th>Id</th>
       <th>Names</th>
       <th>Age</th>
       <th>Salary</th>
       </tr>
       <tr th:each = "datas:${data}">
        <td th:text = "${datas.id}"></td>
       <td th:text = "${datas.name}"></td>
        <td th:text = "${datas.age}"></td>
         <td th:text = "${datas.salary}"></td>
       </tr>
       </table>
</html>