<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Form</title>
</head>
<body>
    <h1>Employee Form</h1>
    <form th:action="@{addstud}" th:object = "${bench}" Method = "POST">
        <label for="id">ID:</label><br>
        <input type="text" name="id" th:field="*{studid}"><br><br>
        
        <label for="name">Name:</label><br>
        <input type="text"  name="name" th:field="*{studname}"><br><br>
        
        <label for="hei">Height:</label><br>
        <input type="number" name="hei" th:field="*{studheight}"><br><br>
        
        <label for="gen">Gender:</label><br>
        <input name="gen" th:field="*{studgender}"><br><br>
        
        <input type="submit" value="Submit">
    </form>
    <a th:href = "@{show}">Show</a>
</body>
</html>
