<html>                                                                                                                                                                   
      <head>
             <title>SpringBoot</title>
      </head>
      
       <body>
             <h1>Welcome to SpringBoot</h1>
            
       </body>
       <table>
       <tr>
        <th>Id</th>
       <th>Name</th>
       <th>Height</th>
       <th>Gender</th>
       
       
       
       </tr>
       <tr th:each = "rooms:${room}">
        <td th:text = "${rooms.studid}"></td>
       <td th:text = "${rooms.studname}"></td>
        <td th:text = "${rooms.studheight}"></td>
         <td th:text = "${rooms.studgender}"></td>
          <td><a th:href = "@{update{pen}(pen=${rooms.studid})}">Update</a></td>
<td><a th:href = "@{delete{pencil}(pencil=${rooms.studid})}">Delete</a></td>
       </tr>
       </table>
</html>