<html>
      <head>
             <title>SpringBoot</title>
      </head>
      
       <body>
             <h1>Welcome to SpringBoot</h1>
       </body>
       <table>
       <tr>
       <th>Names</th>
       </tr>
       <tr th:each = "name:${names}">
       <td th:text = "${name}"></td>
       </tr>
       </table>
</html>