<html>                                                                                                                                                                   
      <head>
             <title>SpringBoot</title>
      </head>
      
       <body>
             <h1>Welcome to SpringBoot</h1>
             <a th:href = "@{addEmp}">Create</a>
            
       </body>
       <table>
       <tr>
        <th>Id</th>
       <th>Names</th>
       <th>Age</th>
       <th>Salary</th>
       <th>Actions</th>
       
       
       </tr>
       <tr th:each = "datas:${data}">
        <td th:text = "${datas.id}"></td>
       <td th:text = "${datas.name}"></td>
        <td th:text = "${datas.age}"></td>
         <td th:text = "${datas.salary}"></td>
                  <td><a th:href = "@{/update/{d}(d=${datas.id})}">Update</a></td>
                  <td><a th:href = "@{/delete/{d1}(d1=${datas.id})}">Delete</a></td>
       </tr>
       </table>
</html>